@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    display: block;
    background-color: #ffb800;
    padding: 1%;
    

    img {
        width: 4em;
        height: 4em;
        
    }
}

nav {
    display: flex;
    flex-wrap: wrap;
    position: static;
    width: auto;
    justify-content: center;
    border: 5px;

    ul {
        display: flex;
        justify-content: center;

        li {
            display: inline;
            margin: 0.5%;
            margin-top: 0.5em;
            list-style: none;
            
        }
    }

    button{
        border: none;
        border-radius: 5px;
        background-color: #F4B6D0;

        a{
            color: #C1365E;
            font-weight: 600;
        }
    }
}

body {
    background-color: #030303;
    
    
}

main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-image: url("../multimedia/img/Bandera\ 02.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}

h1 {
    display: inline-flex;
    height: 2.5em;
}

h2 {
    display: flex;
    justify-content: center;
    color: #C1365E;
    height: 1.3em;
}

p {
    display: inline-flex;
    color: #F4B6D0;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60vw;
    max-width: 780px;
}

div.logos {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    img {
        margin: 1em;
        width: 15%;
    }
}

div.roster {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    img {
        margin: 0.5em;
        width: 40%;
        min-width: 10em;
    }
}

div.merch{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    img {
        margin: 0.5em;
        width: 40%;
        min-width: 10em;
    }
}

div.card{
    margin: 2em;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #464646;
}

section {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0.5em;
    border-radius: 10px;
    background-color: #303030;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    iframe {
        display: flex;
        margin: auto;
        padding: 0.5em;
        width: 50vw;
        height: 30vh;
    }
}

.derby{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0.5em;
    border-radius: 10px;
    background-color: #303030;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    p{
        width: 90%;
    }
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;

    a:visited {
        color: black;
    }
}

i {
    padding: 1em;
    color: #F4B6D0;

}

.form {    
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    background-color: #303030;

        h2{
            font-size: 3em;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }

        input {
            display: flex;
            padding: 1em;
            width: 50%;
            margin: auto;   
            margin-bottom: 1em;
            background-color: #F4B6D0;
            border-radius: 7px;                       
        }

        textarea{
            display: flex;            
            width: 50%;           
            margin: auto;            
            margin-bottom: 1em;
            background-color: #F4B6D0;
            border-radius: 7px;
        }

        ::placeholder{           
            color: #C1365E;
        }
        
        .submit{
            color: #F4B6D0;
            background-color: #C1365E;
        }

        p a{
            color: #C1365E;
        }
}

span {
    display: flex;
    justify-content: centers;
    color: #F4B6D0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: #303030;
    position: sticky;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    main{
        background-color: #fff;
        background-image: url("../multimedia/img/Logo\ ronin.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        
        
        
    }

    .form{
        width: 90%;

        input{
            width:70%;
        }

        textarea {
            width: 70%;
        }
    }

    div.roster{
        flex-direction: column;
    }

    footer{
        p{
           font-size: 0.7em;
        }
        
    }
}